@charset "utf-8";

// If need, change your variables before importing Bulma
//$title-color: #ff0000;
//$primary: #212426; 
$primary: #242D5B;
$danger: #EA3546;
$family-primary: "Exo 2";
$family-secondary: "Exo 2";
$title-family: "Exo 2";

.red {
    color: $danger;
}

@import "~bulma/bulma.sass";
@import "./scss/hero";
@import "./scss/nav";
@import "./scss/about";
